@using System.Globalization
@using adwiseus.App_GlobalResources

@{
    ViewData["Title"] = "Home Page";

}

<link rel="stylesheet" href="~/Content/css/Index.css" asp-append-version="true" />
<div class="d-flex  align-items-center img-container banner-index load-hidden">
    <div class="text-blue p-5">
        <h1 class="mb-4">Adwise Corporate Advisory</h1>
        <p class="w">@Resources.index_PHeader</p>
        <a href="@Url.Action("IndexArea", "Home")">
            <input class="btn btn-primary button-adwise" type="button" value="@Resources.index_buttonHeader ⭢" />

        </a>


    </div>
</div>
<div class="container mt-5 card-index load-hidden">
    <div class="row text-blue">
        <div class="col-12 col-lg-6  p-3 p-lg-5">
            <h2 class="mb-2">@Resources.index_card1Title</h2>
            <p>@Resources.index_card1Content</p>
            <a href="@Url.Action("Perfiles", "Home")">
                <input class="btn btn-primary button-adwise" type="button" value="@Resources.index_buttonText ⭢" />
            </a>



        </div>
        <div class="col-12 col-lg-6 p-3 p-lg-5">
            <h2 class="mb-2">@Resources.index_card2Title</h2>
            <p>@Resources.index_card2Content</p>
            <a href="@Url.Action("IndexAdwise", "Home")">
                <input class="btn btn-primary button-adwise" type="button" value="@Resources.index_buttonText ⭢" />
            </a>
        </div>
    </div>
</div>

<script>
    console.log(@Resources.Culture);

</script>