@using System.Globalization
@using adwiseus.App_GlobalResources
@{
    ViewData["Title"] = "TalentManagement";
}
<link rel="stylesheet" href="~/Content/css/TalentManagment.css" asp-append-version="true" />

<div class="d-flex justify-content-center align-items-center img-container position-relative ">
    <h1 class="display-4 text-white fw-bold text-header">@Resources.talentManagement_h1</h1>
    <div class="bg-black bg-opacity-25 w-100 h-100 position-absolute">
    </div>
</div>
<div class="container mt-5">
    <p class="text-blue fs-5">@Resources.talentManagement_descr</p>
    <div class="row text-blue text-center">
        <div class="col-12 col-lg-4">
            <img class="img-fluid rounded-circle" src="~/Content/Area de Especialidad/Talent/talent1.png" alt="Executive Search" />
            <h2 class="text-center">@Resources.talentManagement_h2_1</h2>
            <p>@Resources.talentManagement_p</p>
        </div>
        <div class="col-12 col-lg-4">
            <h2 class="text-center mt-3">@Resources.talentManagement_h2_2</h2>
            <p>@Resources.talentManagement_p_2</p>
        </div>
        <div class="col-12 col-lg-4">
            <img class="img-fluid rounded-circle" src="~/Content/Area de Especialidad/Talent/talent2.png" alt="Competence Measurement System" />
            <h2 class="text-center">@Resources.talentManagement_h2_3</h2>
            <p>@Resources.talentManagement_p_3</p>
        </div>

    </div>
    <div class="row text-blue text-center">
        <div class="col-12 col-lg-4">
            <img class="img-fluid rounded-circle" src="~/Content/Area de Especialidad/Talent/talen3.png" alt="Competence Measurement System" />
            <h2 class="text-center">@Resources.talentManagement_h2_4</h2>
            <p>@Resources.talentManagement_p_4</p>
        </div>
        <div class="col-12 col-lg-4">
        </div>

        <div class="col-12 col-lg-4">
            <img class="img-fluid rounded-circle" src="~/Content/Area de Especialidad/Talent/talent4.png" alt="Executive Search" />
            <h2 class="text-center">@Resources.talentManagement_h2_5</h2>
            <p>@Resources.talentManagement_p_5</p>
        </div>

    </div>
</div>